.container {
    width: 100%;
    max-width: $container;
    margin: 0 auto;

    @media (max-width: $container) {
        padding: 0 70px;
    }

    @media (max-width: $bp-tablet) {
        max-width: $width-content-tablet;
        padding: 0 20px;
    }

    @media (max-width: $bp-tablet-md) {
        max-width: $width-content-tablet-md;
    }

    @media (max-width: $bp-mobile) {
        max-width: $width-content-mobile;
        // padding: 0 15px;
    }

}