$bp-laptop: 1200px;

$bp-tablet: 992px;
$bp-tablet-md: 768px;
$bp-mobile: 767px;


$container: 1440px;

$width-content-tablet: 100%;
$width-content-tablet-md: 100%;
$width-content-mobile: 100%;



/////////// Color
$green:#69A042;

$text:#222222;
$text-two:#626262;
$blue:#0047E8;
$blue5:#2B74B9;
$orange:#FF5200;
$purple:#56226A;
$violet5:#783294;
$violet6:#4C2E88;

$bg-gray:#F9F8F8;

$text-gray:#767676;


.blue {}