.popup-ticket {
  display: none;
  width: 300px;
  text-align: left;

  &-title {
    margin-bottom: 16px;
  }

  // @media(max-width:$bp-mobile) {
  //   width: 95%;
  // }

  input {
    text-align: left;
  }

}