<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__about">
        <a href="/">
          <img class="footer__about-logo" src="images/logo-orange.svg" alt=""
        /></a>
        <div class="footer__about-text">
          <p>2020 год. Все права защищены.</p>
          <p>ТРК "Надежда" Интернет и телевидение.</p>
          <a href="#">Политика конфиденциальности</a>
        </div>
        <div class="footer__social social">
          <a href="#"><img src="images/facebook.svg" alt="facebook" /></a>
          <a href="#"><img src="images/ok.svg" alt="ok" /></a>
          <a href="#"><img src="images/vkontakte.svg" alt="vkontakte" /></a>
          <a href="#"><img src="images/instagram.svg" alt="Instagram" /></a>
        </div>
      </div>
      <div class="footer__navigations">
        <div class="footer__navigations-block">
          <a href="#">Тарифы</a>
          <a href="#">Акции</a>
          <a href="tutorials.html">Абонентам</a>
          <a href="#">О компании</a>
        </div>
        <div class="footer__navigations-block">
          <a href="#">Интернет</a>
          <a href="#">IPTV</a>
          <a href="#">Кабельное ТВ</a>
          <a href="#">Помощь</a>
        </div>
      </div>
      <div class="footer__contact">
        <h3>Пункты обслуживания Абонентов</h3>
        <div class="footer__contact-block">
          <span>Калининский район: б. Шахтостроителей, 5</span>
          <span>Пролетарский район: ул. Щетинина, 32</span>
          <span>Буденновский район: ул. 230 Стрелковой дивизии, 38</span>
          <span>Кировский район: ул. Адыгейская, 1</span>
        </div>
        <div class="footer__contact-phone">
          <a class="footer__contact-phone-item" href="tel:0623888833"
            >{{#icon}}tel{{/icon}} <span>(062) 388-88-33</span>
          </a>
          <a class="footer__contact-phone-item" href="tel:0622018833"
            >{{#icon}}tel{{/icon}} <span>(062) 201-88-33</span>
          </a>
          <a class="footer__contact-phone-item" href="tel:0713888833"
            >{{#icon}}tel{{/icon}} <span>(071) 388-88-33</span>
          </a>
          <a class="footer__contact-phone-item" href="tel:0713048833"
            >{{#icon}}tel{{/icon}} <span>(071) 304-88-33</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
